@font-face {
    font-family: Comic;
    src: url(/assets/fonts/Comic_Neue/ComicNeue-Regular.ttf);
}

body{
    background-color: pink;
    background-image: url(/assets/images/background\ pink.jpg);
    background-repeat: repeat-y;
}
#title{
    color: palevioletred;
    font-family: "Comic", Arial;
}
.icons{
    border-radius: 100%;
}
.text{
    border-style: solid;
    border-width: 3px;
    border-color: violet;
    border-radius: 20px;
    box-shadow: 3px 3px 3px;
    background-image: url(/assets/images/background\ purple.jpg);
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flow-root;
    overflow: auto;
    text-shadow: 3px 3px 3px violet;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    text-align: center;
}

#me{
    width: auto;
}

#kiwi{
    float: left;
}
#kiwi:hover{
    transform: rotateZ(-30deg);
    cursor: grab;
}

#link{
    color: rgb(194, 49, 194);
    cursor: pointer;
}

#link:hover{
    color: rgb(231, 73, 231);
    font-size: 1.1em;
}

#link:visited{
    color: blue;
}

.imp{
    margin-top: auto;
}

