
@font-face {
    font-family: Comic;
    src: url(/assets/fonts/Comic_Neue/ComicNeue-Regular.ttf);
}


.title{
    margin: auto;
    align-content: center;
    text-shadow: 3px 3px 3px rgb(41, 161, 161);
    color: whitesmoke;
}

body{
    margin: auto;
    background-color: rgb(41, 41, 41);
    font-family: Comic, Arial;
    background-image: url(/assets/images/space_background.jpg);
    background-size: 100%;
    overflow: hidden;
}
.main{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-style: solid;
    background-color: rgba(174, 153, 224, 0.74);
    border-width: 2px;
    margin-top: 600px;
    height: 650px;
    
}

.link{
    color: rgb(194, 49, 194);
    cursor: pointer;
    font-family: "Comic",Arial;
    text-decoration: none;
}

.link:hover{
    color: rgb(231, 73, 231);
    font-size: 1.1em;
    font-family: "Comic",Arial;
}

.link:visited{
    color: blue;
    font-family: "Comic",Arial;
}

.text{
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    box-shadow: 5px 5px 3px black;
    color: whitesmoke;
    background-color: rgba(66, 50, 136, 0.877);
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flow-root;
    overflow: auto;
    text-shadow: 3px 3px 3px black;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    text-align: center;
    border-color: black;
}


#s_change{
    border-style: solid;
    display: block;
    width: 75%;
    border-color: black;
    
    background-image: url(/assets/images/background_blue.webp);
    padding: 5px;
    border-radius: 15px;
    margin-left: 10px;
    margin-top: 15px;
}
#s_change:hover{
    border-style: solid;
    display: block;
    width: 90%;
    border-color: black;
    margin-top: 10px;
    background-image: url(/assets/images/background\ purple.jpg);
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
}
#s_change:active{
    border-style: solid;
    display: block;
    width: 90%;
    border-color: black;
    margin-top: 10px;
    background-image: url(/assets/images/background\ purple.jpg);
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
}