
.npic{
    float: left;
    padding: 10px;
}

.text{
    margin-left: 10px;
}

.impo{
    text-shadow: 2px 2px 3px violet;
}

.spoiler{
    border-radius: 4px;
    background-color: black;
}

.spoiler:hover{
    background-color: white;
}