@font-face {
    font-family: Comic;
    src: url(/assets/fonts/Comic_Neue/ComicNeue-Regular.ttf);
}

body{
    background-color: pink;
    background-image: url(/assets/images/background\ pink.jpg);
    background-repeat: repeat-y;
}
#title{
    color: palevioletred;
    font-family: "Comic", Arial;
}
.icons{
    border-radius: 100%;
}
.text{
    border-style: solid;
    border-width: 3px;
    border-color: violet;
    border-radius: 20px;
    box-shadow: 3px 3px 3px;
    background-image: url(/assets/images/background\ purple.jpg);
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flow-root;
    overflow: auto;
    text-shadow: 3px 3px 3px violet;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    text-align: center;
}

#me{
    width: auto;
}

#kiwi{
    float: left;
    width: 10%;
}
#kiwi:hover{
    transform: rotateZ(-30deg);
    cursor: grab;
}

#kiwi_review{
    float: right;
    display: inline;
    width: 10%;
}
#kiwi_review:hover{
    transform: rotateZ(-30deg);
    cursor: grab;
}

.link{
    color: rgb(194, 49, 194);
    cursor: pointer;
    font-family: "Comic",Arial;
    text-decoration: none;
}

#link:hover{
    color: rgb(231, 73, 231);
    font-size: 1.1em;
    font-family: "Comic",Arial;
}

#link:visited{
    color: blue;
    font-family: "Comic",Arial;
}

.imp{
    margin-top: auto;
}

.news{
    width: 96%;
    background-image: url(/assets/images/background_blue.webp);
    border-style: solid;
    border-radius: 10px;
    margin: auto;
    margin-top: 25px;
    display: block;
    max-width: 1190px;
}

#newsb{
    max-width: 1100px;
}

#s_change{
    border-style: solid;
    display: block;
    width: 75%;
    border-color: black;
    
    background-image: url(/assets/images/background_blue.webp);
    padding: 5px;
    border-radius: 15px;
    margin: auto;
    margin-top: 15px;
}
#s_change:hover{
    border-style: solid;
    display: block;
    width: 90%;
    border-color: black;
    margin-top: 10px;
    background-image: url(/assets/images/background\ purple.jpg);
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
}
#s_change:active{
    border-style: solid;
    display: block;
    width: 90%;
    border-color: black;
    margin-top: 10px;
    background-image: url(/assets/images/background\ purple.jpg);
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
}

#cat{
    border-style: solid;
    border-width: 2px;
    border-radius: 9px;
    background-image: url(/assets/images/background\ purple.jpg);
    display: inline;
    min-width: fit-content;
}

.dropdown button{
    background-image: url(/assets/images/background_blue.webp);
    color: black;
    padding: 10px 15px;
    border: solid;
    border-width: 2px;
    border-radius: 50px;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    border-radius: 5px;
    display: none;
    background-image: url(/assets/images/background\ purple.jpg);
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px black;

}
.dropdown:hover .content{
    display: block;
}

.dropdown:hover button{
    background-image: url(/assets/images/background\ purple.jpg);
}
.dropdown a:hover{
    background-image: url(/assets/images/background_blue.webp);
}
.dropdown{
    display: inline;
}
